body {
  margin: 0;
  height: 100vh;
  width: 100vw; }

#loginView {
  background: url("../../images/Hongkong.jpg") 50% 0 no-repeat fixed;
  width: 100vw;
  height: 100Vh;
  margin: 0;
  background-size: cover;
  justify-content: center !important;
  align-items: center !important;
  position: relative; }

#chooseLogin {
  height: 8vh; }

.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  border: 0; }

.navbar-dark {
  background-color: #000; }

#navbarBtn {
  margin-right: 0.5rem; }

#teacherMain {
  background: url("../../images/main.jpg") 50% 0 no-repeat fixed;
  width: 100%;
  height: 100Vh;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover; }

#testDetails {
  padding: 100px 0 25px 0;
  /* Mellan rum mellan Create Test och Titeln */
  width: 100%; }

#chooseStudents {
  padding: 100px 0 25px 0;
  /* Mellan rum mellan Create Test och Titeln */
  min-width: 600px;
  height: 300px; }

#tCreateTest {
  background-color: #C5C9B8;
  width: 100%;
  color: #333333;
  height: 100Vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 0 2rem; }

#singleQuestionModule {
  background-color: #C5C9B8;
  width: 100%;
  color: #333333;
  min-height: 520px;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  float: none; }

#removableText {
  cursor: pointer; }

#testH1 {
  cursor: pointer; }

#title {
  margin-top: 5%; }

#titleInput, #userNameInput, #passwordInput {
  min-width: 616px; }

#submitTitle {
  align-items: center;
  justify-content: space-around;
  display: flex; }

#tShareTest {
  background: url("../../images/girl.jpg") 0 no-repeat fixed;
  width: 100%;
  color: #fff;
  height: 100Vh;
  margin: 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-size: cover; }

#tGradeTest {
  background-color: #36054D;
  width: 100%;
  color: #333333;
  height: 100Vh;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  display: flex; }

#tDoTest {
  background: url("../../images/reading.jpg") 0 no-repeat fixed;
  width: 100%;
  color: #fff;
  height: 100Vh;
  margin: 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-size: cover; }

#tSettings {
  background-color: #7F9A29;
  width: 100%;
  color: #333333;
  height: 100Vh;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  display: flex; }

#tAdmin {
  background: url("../../images/boy.jpg") 0 no-repeat fixed;
  width: 100%;
  color: #fff;
  height: 100Vh;
  margin: 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-size: cover; }

.form-control {
  justify-content: center;
  width: 0; }

.form-control-label {
  text-align: left;
  color: #000;
  margin: 0;
  padding-bottom: 10px; }

.form-check-label {
  font-family: 'Abril Fatface', cursive;
  font-size: 15px;
  text-align: center;
  color: #000;
  margin: 0;
  padding-bottom: 10px; }

.testDetails {
  justify-content: center !important; }

.wQuestionLabel, #titleLabel, #loginLabel {
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  font-size: 20px; }

#loginLabel {
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  font-size: 60px; }

#questionOptions {
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  font-size: 20px; }

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0; }

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0; }

h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  width: 100%; }

/* CSS for the buttons and the index page... The code is overiding the btn-outline-primary button!*/
.dropdown-menu, .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle, .btn-outline-primary.active .show, .open > .btn-outline-primary.dropdown-toggle:focus, .open > .btn-outline-primary.dropdown-toggle.focus, .btn-outline-primary.dropdown-item {
  color: #32cd32 !important;
  background-color: #000 !important;
  border-color: #32cd32 !important; }

.dropdown-menu:hover, .btn-outline-primary:hover, .show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:active:hover, .open > .btn-outline-primary.dropdown-toggle.btn-outline-primary:disabled:hover .btn-outline-primary.dropdown-toggle:hover, .btn-outline-primary.active:hover, .open > .btn-outline-primary.dropdown-toggle:hover {
  color: #000 !important;
  background-color: #32cd32 !important;
  border-color: #000 !important; }

/* To get the images more responsive... At this state, no backgrounds for mobile is included in the project  */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

/* I am trying to center a div between the navigation bar and div "gitForm, with .flexwrap and .flex-centered*/
/* #headLine is the id of the text that is placed inside the div in index.hbs*/
#headLine {
  font-family: 'Abril Fatface', cursive;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 1%;
  margin-top: 10vh;
  color: #fff;
  border-radius: 25px; }

/* I am using aligner to center the div in the middle of the screen.*/
.Aligner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* The at the center is a...*/
.card {
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 25px !important;
  width: 69.5vh; }

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem; }

/* Here is the CSS for the checkbozes that you use to choose what kind of tests that you want to do!  */
.custom-checkbox .custom-control-indicator {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #2c2b2c; }

.custom-control-description {
  line-height: 2; }

/*  Modified the color of the link at the navigation menu*/
.nav-link {
  color: #32cd32 !important; }

/* The label under the navigation-menu */
label {
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
  color: #fff; }

/* Modifing the positions of the buttons at the Index page */
#choiceBtn {
  margin-bottom: 10%; }

#regret {
  margin-left: 20%; }

/* BootStrap media querys */
/*Smal tablets. 768px +*/
/* Medium devices (desktops, 992px and up) */
/* Large devices (1200px and up) */
/* */
